body{
    background: url("img/school.jpg");
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
    background-color: #000000;
    color: #fff;
    font-size: 30px;
    margin-bottom: 50px;
}

.container{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #302c2c;
    border-radius: 7px;
}

#display{
    border-radius: 8px;
    height: 30%;
    display: flex;
    justify-content: end;
    font-size: 25px;
    background-color: #d4cccc;
    margin: 15px;
    padding: 10px;
    color: #102d7c;
}

.row{
    display: flex;
    flex: 1;
    gap: 7px;
    margin: 7px;
    
}

button{
    background-color: #888282;
    color: #fff;
    font-size: 30px;
    border-radius: 10px;
    flex: 1;
}

footer{
    margin-top: 9%;
}